
/* navbar.css */
nav {
  background-color: #d2b48c; /* Tan background */
  text-align: center;
  padding: 1em 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
  /* overflow: hidden; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline; /* Display list items inline */
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none; /* Removes underline from links */
  color: #004d00; /* Dark green color for the text */
  font-weight: bold;
  padding: 0.5em 1em;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover,
nav ul li a:focus { /* Added focus for accessibility */
  color: #ffffff; /* White text on hover/focus */
  background-color: #66a366; /* Lighter green background on hover/focus */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-toggle {
  display: none;
}

/*.nav-list li:last-child a {
  display: none;
}*/

/* Responsive tweaks for mobile view */
/* Small screen styles */
@media (max-width: 1300px) {
  nav {
    padding: 0;
  }

  .nav-toggle {
      display: block;
      padding: 1em; 
      background-color: #d2b48c;
      text-align: center;
      cursor: pointer;
      border: none;
      width: 80%;
      margin: auto;
      /*border-radius: 5px;*/
      font-size: 1em;
  }

  .nav-list {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 0;
  }

  .nav-list.active {
      display: flex;
  }

  .nav-list li {
      display: block;
      width: 100%;
  }

  .nav-list li a {
      padding: 1em;
      display: block;
      border-bottom: 1px solid #eaeaea;
      background-color: #f4f4f4;
  }

  .nav-list li:last-child a {
      border-bottom: none;
  }
}